In [15]:
# imports
import pandas as pd
import numpy as np
# local
from env import username,password,host
import wrangle as w

In [2]:
# logs = pd.read_csv('anonymized-curriculum-access.txt', sep=' ', 
#                 header=None, names=['date','time','path','user_id','cohort_id','ip'])

In [3]:
# logs

In [4]:
def get_db_url(db,user=username,password=password,host=host):
    """
    Returns a formatted string that contains the database URL using the provided parameters: db, user,
    password, and host. The URL is in the format of 'mysql+pymysql://user:password@host/db'.
    """
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [9]:
df = pd.read_sql('''
    select l.date,l.time,l.path,l.user_id,l.cohort_id,l.ip,
            c.name,c.start_date,c.end_date,c.program_id
    from logs as l
    left join cohorts as c on l.cohort_id=c.id
''',get_db_url('curriculum_logs'))

In [10]:
df.head()

,date,time,path,user_id,cohort_id,ip,name,start_date,end_date,program_id
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2.0

In [11]:
# df = pd.merge(left=logs,right=cohorts,how='left',left_on='cohort_id',right_on='id')

In [12]:
# Filter rows based on column: 'path'
df = df[df['path'].notna()]

# Replace missing values with 0 in column: 'cohort_id'
# Replace missing values with "unknown" in column: 'name'
df = df.fillna({'cohort_id': 0,'name': "unknown"})

# Derive column 'datetime' from columns: 'date', 'time'
df.insert(2, 'datetime', df.apply(lambda row: f'{row.date} {row.time}', axis=1))

# drop old date and time columns
df = df.drop(columns=['date','time'])

# Change column type to datetime64[ns] for columns: 'datetime', 'start_date', 'end_date'
df = df.astype({'datetime': 'datetime64[ns]', 'start_date': 'datetime64[ns]', 'end_date': 'datetime64[ns]'})

# make datetime index and sort
df = df.set_index('datetime').sort_index()

In [14]:
df

,path,user_id,cohort_id,ip,name,start_date,end_date,program_id
datetime,,,,,,,,
2018-01-26 09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26 09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26 09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26 09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26 09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2.0
...,...,...,...,...,...,...,...,...
2021-04-21 16:41:51,jquery/personal-site,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,2.0
2021-04-21 16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,2.0
2021-04-21 16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,2.0
2021-04-21 16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86,Staff,2014-02-04,2014-02-04,2.0
2021-04-21 16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,2.0

In [16]:
df = w.wrangle_logs()
df

,path,user_id,cohort_id,ip,name,start_date,end_date,program_id
datetime,,,,,,,,
2018-01-26 09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26 09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26 09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26 09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26 09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2.0
...,...,...,...,...,...,...,...,...
2021-04-21 16:41:51,jquery/personal-site,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,2.0
2021-04-21 16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,2.0
2021-04-21 16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,2.0
2021-04-21 16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86,Staff,2014-02-04,2014-02-04,2.0
2021-04-21 16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,2.0